<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page Title</title>
  <link rel = "stylesheet" type = "text/css" href = "http://jameswmoody.com/reset.css" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div class="header">
    <div class="container">
      <img src="http://vignette2.wikia.nocookie.net/titanfall/images/3/3a/Icon_Chat.png/revision/latest?cb=20140504182858">
      <h1>Messenger</h1>
    </div>
  </div>

  <div class="create">
    <div class="container">

      <!-- Your code here -->

      <%= form_for(@message) do |f| %>
    <div class="field">
      <%= f.label :message %><br>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit "Create" %>
    </div>
  <% end %>

    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://jameswmoody.com/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
