<div class="messages">
<div class="container">
  <%= form_for(@message) do |f| %>
    <div class="field">
     <h1>Type your message</h1>
      <%= f.text_area :content %>

      <div class="actions">
        <%= f.submit "Create" %>
      </div>
    </div>
      <% end %>
</div>
</div>
