<% provide(:title, 'Sign up') %>
<div class="header">
<div class="container">
<h1>MessagesApp</h1> <img src="http://vignette2.wikia.nocookie.net/titanfall/images/3/3a/Icon_Chat.png/revision/latest?cb=20140504182858">
</div>
</div>

<div class="container">
  <% provide(:title, 'Sign up') %>
  <h2>Sign up</h2>
  <p>This will be a signup page for new users.</p>
</div>
