// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Sign Up

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #3E4551;
}

.field {
  width: 100%;
  height: 25px;
  border: none;
  margin-top: 6px;
  margin-bottom: 6px;
}

@media screen and (max-width: 450px) {
  .field {
    width: 100%;
  }
}
